<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form id="login-form">
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        document.getElementById('login-form').onsubmit = function(e) {
            e.preventDefault();
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            socket.emit('login', {'username': username, 'password': password});
        };

        socket.on('login_status', function(data) {
            if (data.status === 'success') {
                window.location.href = '/table/'+data.user;
            } else {
                alert('Invalid username or password.');
            }
        });
    </script>
</body>
</html>

